<!-- <mat-toolbar color="primary">
  <div class="nav-links">
    <a mat-button routerLink="/"><app-translate key="nav.home"></app-translate></a>
    <a mat-button routerLink="/news"><app-translate key="nav.news"></app-translate></a>
    <a mat-button routerLink="/about"><app-translate key="nav.about"></app-translate></a>
  </div>
  <div class="actions">
    <div class="auth-buttons">
      <ng-container *ngIf="!isAuthenticated">
        <a mat-button routerLink="/login">
          <app-translate key="nav.login"></app-translate>
        </a>
        <a mat-raised-button color="accent" routerLink="/register">
          <app-translate key="nav.signup"></app-translate>
        </a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated">
        <a mat-icon-button routerLink="/messages" matBadge="2" matBadgeColor="accent">
          <mat-icon>mail</mat-icon>
        </a>
        <a mat-raised-button 
           color="accent" 
           routerLink="/profile">
          <app-translate key="nav.profile"></app-translate>
        </a>
      </ng-container>
    </div>
    <div class="lang-switcher">
      <button mat-raised-button 
              (click)="switchLanguage('en')" 
              [color]="currentLang === 'en' ? 'accent' : ''">
        English
      </button>
      <button mat-raised-button 
              (click)="switchLanguage('ar')" 
              [color]="currentLang === 'ar' ? 'accent' : ''">
        عربي
      </button>
    </div>
  </div>
</mat-toolbar> -->
<button
  mat-raised-button
  (click)="switchLanguage('en')"
  [color]="currentLang === 'en' ? 'accent' : ''"
>
  English
</button>
<button
  mat-raised-button
  (click)="switchLanguage('ar')"
  [color]="currentLang === 'ar' ? 'accent' : ''"
>
  عربي
</button>
<a  routerLink="/user/services">Services</a>
<a  routerLink="/user/jobs/listing">Jobs Listing</a>
<div class="header_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="../../../../assets/images/logo-white.png" alt="" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0 nav-links">
                <li class="nav-item" *ngIf="!isAuthenticated">
                  <a class="nav-link active" aria-current="page" href="#">
                    <app-translate key="layout.header.homepage"></app-translate>
                  </a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                  <a class="nav-link" href="#">
                    <app-translate key="layout.header.whoWeAre"></app-translate>
                  </a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                  <a class="nav-link" href="#">+ قدم أستشارة</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                  <a class="nav-link" href="#">الوظائف</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <app-translate key="layout.header.services"></app-translate>
                  </a>
                </li>
              </ul>
              <div class="d-flex auth-buttons__wrapper">
                <a
                routerLink="/login"
                class="auth-buttons"
                *ngIf="!isAuthenticated"
              >
                <app-translate key="layout.header.login"></app-translate
              ></a>
                <a
                  routerLink="/register"
                  class="auth-buttons"
                  *ngIf="!isAuthenticated"
                >
                  <app-translate key="layout.header.registerNow"></app-translate
                ></a>

              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
