mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  .nav-links a {
    margin-right: 8px;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .auth-buttons {
      margin-right: 1rem;
      
      a {
        margin-left: 8px;
      }
    }

    .lang-switcher button {
      margin-left: 8px;
    }
  }
}


.header_wrapper{
  background-color: #0663C7;
  padding: 5px 0;
  .navbar{
    .navbar-brand{
      img{
        max-width: 57px;
        max-height: 50px;
      }
    }
    .nav-links{
      li{
        display: inline-flex;
        gap:33px;
        a{
          color: white;
          font-size: 24px;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
    .auth-buttons__wrapper{
      display: inline-flex;
      gap: 20px;
      .auth-buttons{
          color: #0053AD;
          font-size: 18px;
          font-weight: 400;
          text-decoration: none;
          background-color: white;
          min-width: 140px;
          padding: 16px;
          text-align: center;
          border-radius: 24px;
      }
    }
  }

}
