<div class="banner">Feature</div>
<!-- 
<div
  class="banner-container"
  style="background-image: url(../../../assets/images/home-banner.png)"
>
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <h2>
            <app-translate key="home.banner.bannerTitle"></app-translate>
          </h2>
          <p>
            <app-translate key="home.banner.bannerFirstText"></app-translate>
          </p>
          <p>
            <app-translate key="home.banner.bannerSecondText"></app-translate>
          </p>
          <a href="#" class="generic-button">
            <app-translate key="home.banner.bannerButtonText"></app-translate>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
