<div class="feature">
  <div class="container">
    <div class="row g-0">
      <div
        class="col-lg-6"
        [ngClass]="{ 'order-lg-2': imgPosition === 'right' }"
      >
        <div class="row feature__wrapper">
          <div
          [ngClass]="{ 'col-lg-10': imgPosition === 'left' , 'offset-lg-1': imgPosition === 'right' }"
          >
            <div class="feature__content">
              <h2>{{ title }}</h2>
              <p>{{ description }}</p>
              <a
                [href]="buttonLink"
                class="generic-button generic-button--blue"
                >{{ buttonText }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img [src]="imageUrl" [alt]="title" />
      </div>
    </div>
  </div>
</div>
