@import "../../../assets/styles/components/direction.scss";

.auth-container-wrapper {
    background-color: #1976d2;
    position: relative;
    min-height: 100vh;

    .form-back-button {
        width: 56px;
        height: 56px;
        background-color: rgba(180, 185, 201, 0.2);
        border-radius: 10px !important;
        margin-bottom: 30px;
        color: #807d7e;
        ::ng-deep .mat-mdc-button-persistent-ripple{
            border-radius: 10px;
        }
    }

    .auth-container {
        position: relative;
        z-index: 2;
        .auth-container__img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            min-height: calc(100vh - 32px);
            flex-direction: column;
        }
        .auth-container__form-wrapper {
            background-color: white;
            margin-top: 16px;
            margin-bottom: 16px;
            border-radius: 10px;
            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
            display: flex;
            color: white;
            min-height: calc(100vh - 32px);
            flex-direction: column;
            padding: 50px 100px;
            .auth--smaller-size{
                max-width: 600px;
            }
        }
    }
    h1 {
        font-weight: 900;
        font-size: 56px;
        margin-bottom: 44px;
    }
    h2 {
        color: #807d7e;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 24px;
    }
    h3{
        color:#B4B9C9;
        font-weight: 400;
        font-size: 16px;

    }
}
.success__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    h4{
        font-weight: 500;
        font-size: 32px;
        color:#B4B9C9;
        text-align: center;
    }
    img{
        max-width: 330px;
        max-height: 230px;
    }
}