@import "../../../assets/styles/components/direction.scss";

.auth-container-wrapper {
    background-color: #1976d2;
    position: relative;
    min-height: 100vh;
    
    .back-button {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
        color: white;
        
        [dir="rtl"] & {
            left: auto;
            right: 20px;
        }
    }

    .auth-container{
        position: relative;
        z-index: 2;
        .auth-container__img-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            min-height: calc(100vh - 32px);
            flex-direction: column;
        }
        .auth-container__form-wrapper{
            background-color: white;
            margin-top: 16px;
            margin-bottom: 16px;
            border-radius: 10px;
            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
            display: flex;
            color: white;
            min-height: calc(100vh - 32px);
            flex-direction: column;
            padding:60px 100px;
        }
    }
    h1{
        font-weight: 900;
        font-size: 56px;
        margin-bottom: 44px;
    }
    h2{
        color:#807D7E;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 24px;
    }
}