<!-- <div class="success-container">
    <mat-card>
      <mat-card-content>
        <div class="success-icon">
          <mat-icon color="primary">check_circle</mat-icon>
        </div>
        <h2><app-translate key="auth.otpSuccess.title"></app-translate></h2>
        <p><app-translate key="auth.otpSuccess.message"></app-translate></p>
        <button mat-raised-button color="primary" (click)="goToLogin()">
          <app-translate key="auth.otpSuccess.loginButton"></app-translate>
        </button>
      </mat-card-content>
    </mat-card>
  </div> -->

<div class="auth-container-wrapper">
  <div class="auth-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5">
          <div class="auth-container__img-wrapper">
            <h1><app-translate key="auth.login.welcomeTo"></app-translate></h1>
            <img src="../../../assets/images/auth-logo.svg" alt="logo" />
          </div>
        </div>
        <div class="col-7">
          <div class="auth-container__form-wrapper">
            <div class="auth--smaller-size">
              <div class="success__wrapper">
                <img src="../../../assets/images/account-verified.png" alt="" />
                <h4>
                  <app-translate
                    key="auth.otp.accountCreatedSuccessfully"
                  ></app-translate>
                </h4>
                <button
                  mat-raised-button
                  color="primary"
                  class="generic-submit-button"
                  (click)="goToLogin()"
                >
                  <app-translate key="auth.otp.backtoLogin"></app-translate>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
