@import "../../../assets/styles/components/direction.scss";


.terms-checkbox {
  ::ng-deep .mat-mdc-checkbox-label {
    color: #B4B9C9;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
  }
  ::ng-deep label{
    margin-bottom: 0 !important;
  }
}


.google-login-button {
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ddd;
  
  .google-icon {
    width: 24px;
    height: 24px;
  }
}