<!-- <app-banner></app-banner> -->

<div class="services">
  <div
    class="servicesBanner"
    style="background-image: url(../../../../assets/images/services-banner.png)"
  >
    <div class="servicesBanner-content">
      <div class="container">
        <div class="row">
          <div class="col-8 offset-lg-2">
            Test
            <!-- <a href="#" class="generic-button">
                <app-translate
                  key="home.banner.bannerButtonText"
                ></app-translate>
              </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
