<div class="services">
  <div
    class="servicesBanner"
    style="background-image: url(../../../../assets/images/services-banner.png)"
  >
    <div class="servicesBanner-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2>
              <app-translate
                key="user.services.banner.bannerTitle"
              ></app-translate>
            </h2>
            <p>
              <app-translate
                key="user.services.banner.bannerBrief"
              ></app-translate>
            </p>
            <div class="servicesBanner__search">
              <input
                type="text"
                class="search-input"
                [placeholder]="
                  getTranslatedText('user.services.banner.inputPlaceholder')
                "
                [(ngModel)]="searchValue"
              />
              <button class="search-button" (click)="onSearch()" [class]="getDirectionClass()">
                <app-translate
                  key="user.services.banner.buttonText"
                ></app-translate>
              </button>
            </div>
            <div class="servicesBanner__tags">
              <span>
                <app-translate
                  key="user.services.banner.mostAsking"
                ></app-translate
              ></span>
              <a href="#" class="tag-button">تصميم مواقع</a>
              <a href="#" class="tag-button">تصميم مواقع</a>
              <a href="#" class="tag-button">تصميم مواقع</a>
              <a href="#" class="tag-button">تصميم مواقع</a>
              <a href="#" class="tag-button">تصميم مواقع</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
