.otp-inputs {
  display: flex;
  gap: 10px;
  margin-top: 40px;

  input {
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #B4B9C9;
    border-radius: 12px;
    background: white;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #1976d2;
      box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.resend-section {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
  span{
    color:#B4B9C9;
    font-size: 18px;
    font-weight: 600;
  }
  .didnt-receive {
    color: #B4B9C9;
    font-size: 16px;
    font-weight: 400;

  }
  p{
    margin: 0;
  }

  .resend-button {
    color: #B4B9C9;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    background-color: transparent !important;
    padding: 0 !important;
    height: unset !important;
  }
}

// Inherit existing styles
