<div class="auth-container-wrapper">
    <div class="auth-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            <div class="auth-container__img-wrapper">
              <h1><app-translate key="auth.forgetPassword.welcomeTo"></app-translate></h1>
              <img src="../../../assets/images/auth-logo.svg" alt="logo" />
            </div>
          </div>
          <div class="col-7">
            <div class="auth-container__form-wrapper">
              <div class="auth--smaller-size">
                <button
                  mat-icon-button
                  class="form-back-button"
                  (click)="goBack()"
                >
                  <mat-icon>{{ getDirectionIcon() }}</mat-icon>
                </button>
                <h2><app-translate key="auth.forgetPassword.title"></app-translate></h2>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                  <div>
                    <div class="form_item">
                      <label for="email">
                        <app-translate key="auth.forgetPassword.email"></app-translate>
                      </label>
                      <mat-form-field appearance="outline">
                        <mat-icon matPrefix>mail_outlined</mat-icon>
                        <input
                          matInput
                          type="email"
                          formControlName="email"
                          [placeholder]="
                            getTranslatedText('auth.forgetPassword.emailPlaceholder')
                          "
                        />
                        <mat-error
                          *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
                        >
                          <app-translate
                            key="auth.forgetPassword.emailRequired"
                          ></app-translate>
                        </mat-error>
                        <mat-error
                          *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
                        >
                          <app-translate
                            key="auth.forgetPassword.emailInvalid"
                          ></app-translate>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    class="generic-submit-button"
                  >
                    <app-translate key="auth.forgetPassword.next"></app-translate>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


<!-- <div class="auth-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <app-translate key="auth.forgotPassword.title"></app-translate>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="description">
          <app-translate key="auth.forgotPassword.description"></app-translate>
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>
              <app-translate key="auth.forgotPassword.email"></app-translate>
            </mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
              <app-translate key="auth.forgotPassword.emailRequired"></app-translate>
            </mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
              <app-translate key="auth.forgotPassword.emailInvalid"></app-translate>
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">
            <app-translate key="auth.forgotPassword.submit"></app-translate>
          </button>
  
          <a mat-button routerLink="/login">
            <app-translate key="auth.forgotPassword.backToLogin"></app-translate>
          </a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
   -->