<div class="container">
  <h1><app-translate key="home.title"></app-translate></h1>
  <p><app-translate key="home.description"></app-translate></p>
  
  <div class="button-container">
    <a mat-raised-button color="primary" routerLink="/news">
      <app-translate key="nav.news"></app-translate>  
    </a>
    <a mat-raised-button color="primary" routerLink="/about">
      <app-translate key="nav.about"></app-translate>
    </a>
    <a mat-raised-button color="accent" routerLink="/login">
      <app-translate key="nav.login"></app-translate>
    </a>
    <a mat-raised-button color="primary" routerLink="/signup">
      <app-translate key="nav.signup"></app-translate>
    </a>
  </div>
</div>