

// .button-container {
//   display: flex;
//   gap: 1rem;
//   margin-top: 2rem;
//   flex-wrap: wrap;

//   a {
//     min-width: 120px;
    
//     mat-icon {
//       margin-right: 8px;
//       vertical-align: middle;
//     }
//   }
// }

.home-img__wrapper{
  margin-bottom: 70px;
  img{
    width: 100%;
    border-radius: 70px;
  }
}

.learnSection{
  background-color: #0663C7;
  padding: 70px 0;
  margin-bottom: 70px;
  h2{
    color:white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 30px;
    li{
      color: white;
      font-size: 20px;
      font-weight: 600;
      position: relative;
      display: inline-flex;
      gap: 5px;
      align-items: center;
      span{
        content: "";
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 50%;
        display: inline-flex;
      }
    }
  }
  .learnSection__img-wrapper{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.coopSection{
  margin-bottom: 100px;
  h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    color:#0053AD;

  }
  a{
    display: inline-flex;
  }
  img{
    max-width: 100%;
    height: 210px;
  }
}
.beforeFooter{
  margin-bottom: -50px;
  .beforeFooter-wrapper{
    background-color: #0053AD;
    padding:70px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    h2{
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 50px;
      color:white;
    }
    p{
      margin-bottom: 0;
      font-weight: 400;
      font-size: 20px;
      color:white;
    }
  }
}