<!-- <div class="container">
  <div>Testttttttttttt</div>
     <h1><app-translate key="home.title"></app-translate></h1>
     <p><app-translate key="home.description"></app-translate></p>
  
     <div class="button-container">
       <a mat-raised-button color="primary" routerLink="/news">
         <app-translate key="nav.news"></app-translate>  
       </a>
       <a mat-raised-button color="primary" routerLink="/about">
         <app-translate key="nav.about"></app-translate>
       </a>
    
       <ng-container *ngIf="!isAuthenticated">
         <a mat-raised-button color="accent" routerLink="/login">
           <app-translate key="nav.login"></app-translate>
         </a>
         <a mat-raised-button color="primary" routerLink="/register">
           <app-translate key="nav.signup"></app-translate>
         </a>
       </ng-container>
    
       <ng-container *ngIf="isAuthenticated">
         <a mat-raised-button color="accent" routerLink="/messages">
           <mat-icon>mail</mat-icon>
           <app-translate key="nav.messages"></app-translate>
         </a>
         <a mat-raised-button color="primary" routerLink="/users/profile">
           <mat-icon>person</mat-icon>
           <app-translate key="nav.userProfile"></app-translate>
         </a>
         <a mat-raised-button color="primary" routerLink="/company/profile">
           <mat-icon>business</mat-icon>
           <app-translate key="nav.companyProfile"></app-translate>
         </a>
       </ng-container>
     </div>
   </div> -->

<app-banner></app-banner>

<app-generic-title-description
  [title]="getTranslatedText('home.genericSectionOne.title')"
  [description]="getTranslatedText('home.genericSectionOne.description')"
></app-generic-title-description>

<div class="home-img__wrapper">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8">
        <img
          class="home-img"
          src="../../assets/images/home-section.png"
          alt="homepage"
        />
      </div>
    </div>
  </div>
</div>

<app-generic-title-description
  [title]="getTranslatedText('home.genericSectionTwo.title')"
  [description]="getTranslatedText('home.genericSectionTwo.description')"
></app-generic-title-description>
<app-feature
  [title]="getTranslatedText('home.featureOne.featureTitle')"
  [description]="getTranslatedText('home.featureOne.featureDescription')"
  [imageUrl]="'../../../assets/images/homepage-feature1.png'"
  [buttonText]="getTranslatedText('home.featureOne.featureButtonText')"
  [buttonLink]="'#'"
  [imgPosition]="'left'"
></app-feature>
<app-feature
  [title]="getTranslatedText('home.featureTwo.featureTitle')"
  [description]="getTranslatedText('home.featureTwo.featureDescription')"
  [imageUrl]="'../../../assets/images/homepage-feature2.png'"
  [buttonText]="getTranslatedText('home.featureTwo.featureButtonText')"
  [buttonLink]="'#'"
  [imgPosition]="'right'"
></app-feature>
<app-feature
  [title]="getTranslatedText('home.featureThree.featureTitle')"
  [description]="getTranslatedText('home.featureThree.featureDescription')"
  [imageUrl]="'../../../assets/images/homepage-feature3.png'"
  [buttonText]="getTranslatedText('home.featureThree.featureButtonText')"
  [buttonLink]="'#'"
  [imgPosition]="'left'"
></app-feature>

<div class="learnSection">
  <div class="container">
    <div class="row g-0">
      <div class="col-5">
        <h2><app-translate key="home.learnSection.title"></app-translate></h2>
        <ul>
          <li>
            <span></span
            ><app-translate key="home.learnSection.listItemOne"></app-translate>
          </li>
          <li>
            <span></span
            ><app-translate key="home.learnSection.listItemTwo"></app-translate>
          </li>
          <li>
            <span></span
            ><app-translate
              key="home.learnSection.listItemThree"
            ></app-translate>
          </li>
        </ul>
        <a href="#" class="generic-button generic-button--blue"
          ><app-translate key="home.learnSection.buttonText"></app-translate
        ></a>
      </div>
      <div class="col-7">
        <div
          class="learnSection__img-wrapper"
          style="
            background-image: url('../../../assets/images/homepage-learn-img.png');
          "
        ></div>
      </div>
    </div>
  </div>
</div>

<div class="coopSection">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2><app-translate key="home.coopSection.title"></app-translate></h2>
        <div class="row coopSection__items">
          <div class="col-lg-3 col-md-6">
            <a href="#">
              <img src="../../assets/images/homepage-coop1.png" alt="" />
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="#">
              <img src="../../assets/images/homepage-coop2.png" alt="" />
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="#">
              <img src="../../assets/images/homepage-coop3.png" alt="" />
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="#">
              <img src="../../assets/images/homepage-coop4.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="beforeFooter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="beforeFooter-wrapper">
          <div class="beforeFooter-wrapper__content">
            <h2>
              <app-translate
                key="home.attachedFooterSection.title"
              ></app-translate>
            </h2>
            <p>
              <app-translate
                key="home.attachedFooterSection.description"
              ></app-translate>
            </p>
          </div>
          <div class="beforeFooter-wrapper__button">
            <a href="#" class="generic-button"
              ><app-translate
                key="home.attachedFooterSection.buttonText"
              ></app-translate
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
