.generic-section {
    margin-bottom: 70px;
    text-align: center;
    h2 {
        color: #0053ad;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    p {
        color: #717171;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
    }
}
